*
{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "FangSong", Arial, serif;
}

.right-menu /*右邊選單*/
{
    float: right;
    margin-right: 3%;
}
.right-menu a
{
	color:#000 !important;
	text-decoration:none !important;
}
.right-menu li
{
	display: inline-block;
	margin-top:30px !important;
}
.right-menu li .fa
{
	font-size:22px;
	margin-right:20px;
	cursor:pointer;
}
.navbar-brand img
{
    margin-left: 30%;
	width:200px;
}
.----navbar-brand /*logo置中*/
{
	left: 50%;
	top: 25px;
	transform:translateX(-50%);
	position:absolute;
}
.navbar-nav /*中間選單距logo多遠*/
{
    margin-left: 15%;
    font-size: 20px; /*選單文字大小*/
}
.navbar-nav li a  /*選單在收起來會置右*/
{
    float: right;
	color:#000 !important;
    padding: 0px 15px !important;
}
.navbar-nav a:hover
{
    float: right;
    font-weight:bold;
    padding: 0px 15px !important;
}
.header
{
    background:#f5f6fc;
	margin-bottom: 80px;
}
.navbar
{
	padding: 0 35px !important;
}
.navbar-toggler
{
	border:none !important;
	outline:none !important;
	padding: 0 !important;
	margin-top: 30;
}
.navbar-toggler .fa
{
	font-size: 30px;
	cursor:pointer;
}
.banner-img
{
	width: 100%;
}
.banner-img img
{
	width: 100%;
	margin-bottom: -80px;
}
.banner
{
	position:relative;
}



